:root {
    --color-creme: #d1b271;
    --color-yellow: #fed90f;
    --color-background: #de433f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--color-background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 215px;
    height: 405px;
    position: relative;
}

.forehead {
    width: 170px;
    height: 200px;
    position: absolute;
    background-color: var(--color-yellow);
    border-radius: 60%/50%;
    border: 1px solid black;
    transform: rotate(-18deg);
    top: 10px;
}

.forehead::before {
    content: "";
    width: 80px;
    height: 70px;
    position: absolute;
    border-top: 2px solid black;
    border-radius: 50%;
    top: -8px;
    left: 20px;
    transform: rotate(-20deg);
}

.forehead::after {
    content: "";
    width: 80px;
    height: 70px;
    position: absolute;
    border-top: 2px solid black;
    top: -18px;
    left: 35px;
    transform: rotate(-20deg);
    border-radius: 50%;
}

.face-side1 {
    width: 140px;
    height: 60px;
    background-color: var(--color-yellow);
    position: absolute;
    top: 185px;
    left: 30px;
}

.eyes {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    top: 110px;
    left: 120px;
    border: 1px solid black;
    background-color: white;
}

.eyes::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
    top: 40px;
    left: 30px;
}

.left-eye {
    top: 115px;
    left: 60px;
}

.left-eye::after {
    content: "";
    left: 25px;
}

.neck {
    width: 125px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 27px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: var(--color-yellow);
    transform: rotate(2deg);
}

.nose {
    width: 60px;
    height: 32px;
    position: absolute;
    top: 175px;
    left: 130px;
    background-color: var(--color-yellow);
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
}

.face-side2 {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 165px;
    left: 22px;
    background-color: var(--color-yellow);
    border-left: 1px solid black;
    transform: rotate(-11deg);
}

.ear {
    width: 32px;
    height: 37px;
    position: absolute;
    background-color: var(--color-yellow);
    top: 200px;
    left: 10px;
    border: 1px solid black;
    border-radius: 50%;
    transform: rotate(10deg);
}

.ear::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-top: 1px solid black;
    border-radius: 50%;
    transform: rotate(-90deg);
}

.ear::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    left: 9px;
    border-top: 1px solid black;
}

.mouth {
    width: 115px;
    height: 120px;
    position: absolute;
    top: 207px;
    left: 60px;
    background-color: var(--color-creme);
    border: 1px solid black;
    border-radius: 50%;
}

.mouth::before {
    content: "";
    width: 20px;
    height: 30px;
    position: absolute;
    background-color: var(--color-creme);
    border-right: 1px solid black;
    border-radius: 50%;
    top: 62px;
    left: 98px;
    transform: rotate(15deg);
}

.mouth::after {
    content: "";
    width: 120px;
    height: 60px;
    position: absolute;
    background-color: var(--color-creme);
    border-bottom: 1px solid black;
    border-radius: 50%;
    top: 20px;
    left: 30px;
    transform: rotate(-6deg);
}

.mouth2 {
    position: absolute;
    width: 35px;
    height: 48px;
    top: 230px;
    left: 165px;
    background-color: var(--color-creme);
    border-top: 1px solid black;
    border-radius: 10%;
    transform: rotate(40deg);
}
.mouth3 {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: var(--color-creme);
    top: 200px;
    left: 130px;
    border-top-right-radius: 50%;
    border-right: 1px solid black;
}

.mouth4 {
    position: absolute;
    width: 30px;
    height: 40px;
    background-color: var(--color-creme);
    top: 260px;
    left: 80px;
}

.collar {
    width: 110px;
    height: 60px;
    position: absolute;
    top: 335px;
    left: 10px;
    background-color: white;
    transform: rotate(15deg);
    border: 1px solid black;
    border-radius: 10%;
}

.right-collar {
    width: 20px;
    left: 150px;
    top: 345px;
    transform: rotate(-20deg);
}


/* Thanks For Arriving Here */